run = "cd code && ./main"
hidden = ["main"]
compile = "cd code&&go build -o main ."

[languages.go]
pattern = "**/*.go"


[env]
APP_ID: cli_a9e2784a18389cd4
APP_SECRET: mPMLc7PoH7o8nm0m4lY2MhOEMm6PgwWt
APP_ENCRYPT_KEY: Mfk0HSzdp3m9rkXqSNIAPdHZUDcNajft
APP_VERIFICATION_TOKEN: NJddry184w0eTrJpSKlocdBpKTrMmc4J
BOT_NAME: ChatGPT
OPENAI_MODEL: gpt-3.5-turbo
OPENAI_MAX_TOKENS: 2000
OPENAI_KEY: sk-xJKws27pSD45u4IGGVms8tjZ2YJ8M8MzH9xXAejq9ttf2uBZ
API_URL: https://magic666.top
